.app {
  text-align: center;  
}

.app__header {
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 0;
  color: rgba(175, 47, 47, 0.5);
}

.toDo {
  width: 600px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.form {
  width: 85%;
  text-align: start;
}

.app__input {
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  padding: 20px 0 20px 10px;
  color: gray;
  width: 100%;
  border: none;
  outline: none;
  font-size: 30px;  
}

.app__input::placeholder {
  color: rgb(192, 185, 185);
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
  background-color: white;
  height: 74px;
  font-size: 18px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
              0 8px 0 -3px #f6f6f6, 
              0 9px 1px -3px rgba(0, 0, 0, 0.2), 
              0 16px 0 -6px #f6f6f6, 
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  align-items: center;
  width: 240px;
  justify-content: space-around;
}

.button button {
  text-decoration: none;
  padding: 7px 8px;
  color: gray;
  outline: none;
}  

.button button:hover {
  cursor: pointer;
  /* border: 2px solid rgba(100, 87, 63, 0.2); */
}

.notChosen {
  border: none
}

.clearCompleted {
  border: none
}

.chosen {
  border: 2px solid rgba(100, 87, 63, 0.2);
}

.count_items {
  width: 120px;
}

.tasks {
  background-color: white;
}

.new_task {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  padding: 10px;
  text-align: start;
}

.wrapForTask {
  display: flex;
  max-width: 100%; 
}

.delete {
  background-image: url(./images/cross_hover.svg);
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  margin: auto 0;
  background-repeat: no-repeat;
  display: none;
}

.new_task:hover > .delete {
  display: block;
}

.delete:hover {
  cursor: pointer;
}

.no_checked {
  background-image: url(./images/no_checked.svg);
}

.checked {
  background-image: url(./images/checked.svg);
}

.strikethrough {
  opacity: 0.3;
  color: gray;
  text-decoration: line-through;
}

.complete {
  min-height: 40px;
  min-width: 40px;
  padding: 0;
  margin: auto 0;
  background-repeat: no-repeat;
}

.complete:hover {
  cursor: pointer;
}

.label {
  line-height: 2.5;
  font-size: 28px;
  padding-left: 20px;
  color: gray;
  min-width: 70%;
  word-break: break-all;
}

.label_checked {
  text-decoration: line-through;
  color: rgb(177, 168, 168);
}

.span_delete {
  width: 36px;
  height: 36px;
  margin: auto 0;
  background-repeat: no-repeat;
}

.chooseAll {
  width: 36px;
  height: 36px;
  margin: auto 0;
  padding-right: 15px;
  background-image: url(./images/down_no_click.svg);
  background-repeat: no-repeat;
}

.chooseAll_clicked {
  background-image: url(./images/down_click.svg);
}

.wrapForInput {
  display: flex;
  background-color: white;
  padding-left: 10px;
  max-width: 100%;
}

@media (max-width: 1279px) {

.body {
  max-width: 100%;
}

.toDo {
  max-width: 100%;
}

.app__input {
  font-size: medium;
  /* width: 95%; */
}

.links {
  max-width: 240px;
}

.count_items {
  max-width: 80px;
  font-size: small;
}

.label {
  font-size: medium;
}
}

@media (max-width: 560px) {

  .form {
    width: 80%;
  }

  .app__input {
    width: 95%;
  }
}